# a2wsgi==1.6.0 # This WSIGMiddleware is not compatible with starlette_context
alembic==1.14.0
cachetools==5.5.0
fastapi[all]==0.115.6
json-cfg==0.4.2
openpyxl==3.1.5
opentelemetry-api==1.28.2
opentelemetry-exporter-otlp==1.28.2
opentelemetry-exporter-prometheus==0.49b2
opentelemetry-instrumentation-fastapi==0.49b2
opentelemetry-instrumentation-httpx==0.49b2
opentelemetry-instrumentation-logging==0.49b2
opentelemetry-instrumentation-requests==0.49b2
opentelemetry-instrumentation-sqlalchemy==0.49b2
opentelemetry-instrumentation-system-metrics==0.49b2
opentelemetry-sdk==1.28.2
psycopg==3.2.3
psycopg2==2.9.10
pydantic==2.10.3
pyjwt[crypto]==2.10.1
pytest-postgresql==6.1.1
python-dateutil==2.9.0.post0
requests==2.32.3
sentry-sdk~=2.19.1
SQLAlchemy>=1.4.50,<2.0.0
starlette-context==0.3.6
