# a2wsgi==1.6.0 # This WSIGMiddleware is not compatible with starlette_context
alembic==1.9.4
cachetools==5.3.0
fastapi[all]==0.92.0
Flask[async]>=2.1.0,<=2.2.2
json-cfg==0.4.2
marshmallow-sqlalchemy>=0.26.0,<=0.28.1
marshmallow==3.19.0
openpyxl==3.0.9
psycopg==3.1.8
psycopg2==2.9.5
pydantic==1.10.5
pyjwt==2.6.0
pytest-postgresql==4.1.1
python-dateutil==2.8.2
python-multipart==0.0.5
requests==2.31.0
SQLAlchemy>=1.4.40,<=1.4.46
starlette-context==0.3.6
uvicorn[standard]==0.20.0
