opentelemetry-api==1.18.0
opentelemetry-exporter-otlp==1.18.0
opentelemetry-exporter-prometheus==1.12.0rc1
opentelemetry-instrumentation-fastapi==0.39b0
opentelemetry-instrumentation-httpx==0.39b0
opentelemetry-instrumentation-logging==0.39b0
opentelemetry-instrumentation-requests==0.39b0
opentelemetry-instrumentation-sqlalchemy==0.39b0
opentelemetry-instrumentation-system-metrics==0.39b0
opentelemetry-sdk==1.18.0
