.visWrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

    [class~=nsewdrag] {
        cursor: pointer !important;
    }
}

.overlayWrapper {
    width: 100%;

    [class~=overlay] {
        cursor: default !important;
    }

}