
@import '../scss/abstracts/variables';

.vis-chooser-scroll-container {
  overflow-y: auto;
  height: calc(100vh - #{$vis-chooser-header-height} - 2 *  var(--mantine-spacing-xl));
}

@media screen and (max-width: 1000px) {
  .vis-chooser-scroll-container {
    height: calc(100vh - #{$vis-chooser-header-height * 2} - 2 * var(--mantine-spacing-xl));
  }
}


